<div class="page-header">
  <h1><%= @essay.title %></h1>
</div>

<% if @essay.first_photo %>
<div id="photo" data-number="1">
  <div class="row">
    <div class="span8">
      <%= image_tag @essay.first_photo.file.small.url, :class => 'photo' %>
    </div>
    <div class="span4">
      <p class="caption"><%= @essay.first_photo.caption %></p>
    </div>
  </div>
</div>
<% else %>
<p>There are no photos for this essay.</p>
<% end %>

<div id="action"<%= 'style="display: none"' unless @essay.first_photo %>>
  <p><%= @essay.location %> needs <%= @essay.needs_list.to_sentence %></p>
  <p><%= link_to 'Edit', edit_admin_essay_path(@essay) %></p>
</div>

<script type="text/javascript">
YUI().use('node', function (Y) {
  window.PhotoBrowser(<%= @essay.photos.collect { |p| { caption: p.caption, url: p.file.small.url } }.to_json.html_safe %>);
});
</script>
