<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_admin_essay_path(@essay), :class => 'btn' %>
  </div>

  <h1><%= @essay.title %> &mdash; <%= @essay.location %></h1>
  <small>Needs: <%= @essay.needs_list.to_sentence %></small>
</div>

<% if @essay.photos.size > 0 %>
  <div class="photos">
  <% @essay.photos.each do |photo| %>
    <div class="photo">
      <%= image_tag photo.file.small.url %>
      <%= textile(photo.caption || 'No Caption') %>
    </div>
  <% end %>
  </div>
<% else %>
<p>There are no photos for this essay.</p>
<% end %>

<style type="text/css">
.photos .photo { position: relative; float: left; margin-right: 10px; margin-bottom: 10px; }
.photos .photo p { position: absolute; bottom: 0; left: 0; right: 0; color: #fff; background-color: rgba(0,0,0,0.5); padding: 10px; margin: 0; }
</style>
