<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New User', new_admin_user_path, :class => 'btn' %>
  </div>
  <h1>Users</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Is Admin?</th>
    <th>&nbsp;</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.is_admin? %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
  </tr>
  <% end %>
</table>
