<div class="essay-preview">
  <div class="row">
    <div class="span4">
      <%= link_to(image_tag(preview.first_photo.small.url, :class => 'photo'), preview) %>
    </div>
    <div class="span4">
      <% image_tag "http://api.tiles.mapbox.com/v3/mapbox.mapbox-light/#{preview.lng},#{preview.lat},10/300x300.png" %>
      <%= map_image_tag preview %>
    </div>
    <div class="span4">
      <h3><strong><%= preview.location %></strong> needs...</h3>
      <% preview.needs_list.each do |n| %>
      <p><span><%= n %></span></p>
      <% end %>
      <%= link_to 'Find out more...', preview, :class => 'btn btn-warning btn-large' %>
    </div>
  </div>
</div>